body,
html {
  /* height:100%; */

  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "header"
  "main"
  "footer"
  ;
}
header{
  padding: 10px;
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-areas: "h1 nav";
  align-items: center;
}

nav > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main{
  padding: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  gap: 50px;
}

#app{
  display: grid;

}

/*This one is giving the most issues with formatting, the rest should be easy. Not sure if we can edit the HTML structure or not.*/
.store-item{
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "img img img"
  "p p p"
  "p p p"
  "span span span";
  background-color : rgb(252, 244, 235);
}

.store-item > span{
  width: 100px;
  grid-row : 100;
}

.store-item > p{
  padding : 5px;
}

div > p:first-of-type {
  font-weight : bold;
}

img{
  height: 100px;
  width: 75%;
}

footer {
  text-align: center;
  background-color: antiquewhite;
}
